@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    Layout = "_shared/back";
    ViewData["Title"] = "批量注册";

    var months = new string[] { "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C" };
    var cpno = App.GetQuery("cpno", "");
    var gcdh = Ace.AC.User.RefCode;
    var year = DateTime.Now.ToString("yy");
    var month = months[DateTime.Now.Month];
}
<div class="container-fluid aceui-form">
    <div class="row pt15">
        <div class="col-xs-2 text-r">操作说明：</div>
        <div class="col-xs-10">
            <ul class="lh25 pb5" style="list-style-type:decimal;padding-left:1.2em">
                <li>选择的文件必须为Excel数据文件（.xlsx）</li>
                <li>数据文件可下载 <a href="@WebHelper.WebPath("templates/import.xlsx")" target="_blank">模板文件</a> 后录入，或参照约定样式</li>
                <li>存在相同设备MAC的数据，导入时将忽略</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 text-r"><span class="cr-red">*</span> 设备编号：</div>
        <div class="col-xs-6">
            产品编号 + 工厂代号 + 当前年度 + 月份 + 4位流水号<br />
            @Ace.TextBox().Id("cpno").Disabled().Width(55) +
            @Ace.ComboBox().Id("gcdh").Items("A,B,C,D,E,F,G,H").Disabled().Width(56).Events(e => e.OnChange("change")) +
            @Ace.YearBox().Id("year").Start(18).End(25).Width(56).Events(e => e.OnChange("change")) +
            @Ace.ComboBox().Id("month").Items("1,2,3,4,5,6,7,8,9,A,B,C").Width(40).Events(e => e.OnChange("change")) +
            @Ace.TextBox().Id("no").Value("XXXX").Width(55).Disabled()
            @Ace.HiddenBox().Name("sbno").Value($"{cpno}{gcdh}{year}{month}")
        </div>
        <div class="col-xs-4"><span class="text-warning">12位字符和数字</span></div>
    </div>
    <div class="row h80">
        <div class="col-xs-2 text-r">文件上传：</div>
        <div class="col-xs-6">
            @(Ace.UploadBox().Name("file").Width("100%").Url("/api/iot/upload").Max(1).Filters(f =>
            {
                f.max_file_size = "2mb";
                f.mime_types.Add(new MineType { title = "Excel file", extensions = "xlsx" });
            }).Events(e => e.OnBeforeUpload("onBeforeUpload").OnUploaded("onUploaded")))
        </div>
        <div class="col-xs-4"><span class="text-warning">请先选择生成方式后上传</span></div>
    </div>
</div>
@section startup {
    <script>
        function onBeforeUpload() {
            this.setOption({
                'multipart_params': {
                    productid: AX.query('productid'),
                    sbno: $('#sbno').val()
                }
            });
        }
        function onUploaded(file, res) {
            if (res.error == null) {
                var val = JSON.parse(res.response).value; 
                $.messager.alert({
                    title: '提示',
                    msg: AX.objstr('共上传 <b>{count} </b>条数据<br/>其中格式正确 <b>{macs} </b>条<br/>成功注册 <b>{success} </b>条！', val),
                    icon: 'info'
                });
            }
        }
        function change() {
            var gcdh = $('#gcdh').combobox('getValue');
            var year = $('#year').combobox('getValue');
            var month = $('#month').combobox('getValue');
            $('#sbno').val('@cpno' + gcdh + year + month);
        }
        function onSubmit(cb) {
            cb();
        }
        $(function () {
            var sbno = $('#sbno').val();
            $('#cpno').textbox('setValue', sbno.substr(0, 4));
            $('#gcdh').combobox('setValue', sbno.substr(4, 1));
            $('#year').combobox('setValue', sbno.substr(5, 2));
            $('#month').combobox('setValue', sbno.substr(7, 1));
        });
    </script>
}