@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "云平台";
    Layout = "_shared/bodyct";

    var client = Iot.Client.IotClient.Instance.Client;
    var opt_enabled = IotContext.GetStatus<bool>("enable_optlog");
    var rec_enabled = IotContext.GetStatus<bool>("enable_reclog");
}
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed fwb">网关客户端 [Acesoft.IotClient]：</div>
    <div class="row pt10">
        <div class="col-md-3 text-r">连接状态：</div>
        <div class="col-md-5">@client.IsConnected</div>
        <div class="col-md-4">
            @if (client.IsConnected)
            {
                <button onclick="setAjax('stopclient', null)" style="padding:0 10px" class="ml15 pl5 pr5 btn btn-warning btn-xs">重启</button>
            }
            else
            {
                <button onclick="setAjax('startclient',null)" style="padding:0 10px" class="ml15 pl5 pr5 btn btn-success btn-xs">启动</button>
            }
        </div>
    </div>
@if (client.IsConnected)
{
    <div class="row pt10">
        <div class="col-md-3 text-r">本地端口：</div>
        <div class="col-md-5">@client.Socket.LocalEndPoint</div>
        <div class="col-md-4"></div>
    </div>
    <div class="row pt10">
        <div class="col-md-3 text-r">远程端口：</div>
        <div class="col-md-5">@client.Socket.RemoteEndPoint</div>
        <div class="col-md-4"></div>
    </div>
}
    <div class="pt20 pb10 bd-b-dashed fwb">全局状态开关：</div>
    <div class="row pt10">
        <div class="col-md-3 text-r">下发日志状态：</div>
        <div class="col-md-5">@opt_enabled</div>
        <div class="col-md-4">
            @if (opt_enabled)
            {
                <button onclick="setAjax('SetStatus', { key: 'enable_optlog', value: 'false' })" style="padding:0 10px" class="ml15 pl5 pr5 btn btn-danger btn-xs">关闭</button>
            }
            else
            {
                <button onclick="setAjax('SetStatus', { key: 'enable_optlog', value: 'true' })" style="padding:0 10px" class="ml15 pl5 pr5 btn btn-success btn-xs">开启</button>
            }
        </div>
    </div>
    <div class="row pt10">
        <div class="col-md-3 text-r">上传日志状态：</div>
        <div class="col-md-5">@rec_enabled</div>
        <div class="col-md-4">
            @if (rec_enabled)
            {
                <button onclick="setAjax('SetStatus', { key: 'enable_reclog', value: 'false' })" style="padding:0 10px" class="ml15 pl5 pr5 btn btn-danger btn-xs">关闭</button>
            }
            else
            {
                <button onclick="setAjax('SetStatus', { key: 'enable_reclog', value: 'true' })" style="padding:0 10px" class="ml15 pl5 pr5 btn btn-success btn-xs">开启</button>
            }
        </div>
    </div>
</div>
@section startup { 
    <script>
        function setAjax(api, data) {
            AX.ajax({
                url: AX.api({
                    api: AX.format('iot/{0}', api)
                }),
                data: data,
                type: 'get',
                cb: function () {
                    AX.ok();
                    AX.reload();
                }
            });
        }
    </script>
}