@model Acesoft.Web.UI.RazorPages.WebPageBase
@{ 
    var showNav = ViewBag.ShowNav ?? true;
    var showDisplay = showNav ? "" : "display:none";
    var showHeight = showNav ? "top:56px" : "";
    var showBack = $"background:#{App.GetQuery("bg", "f5f5f5")}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@Html.Raw(ViewData["Title"])</title><environment include="Development">
    <link rel="stylesheet" href="~/scripts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/scripts/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/scripts/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="~/scripts/easyui/themes/icon.css">
    <link rel="stylesheet" href="~/scripts/ace/css/aceui.css">
    <link rel="stylesheet" href="~/content/site.css" />
    <link rel="stylesheet" href="~/content/back.css" /></environment><environment exclude="Development">
    <link rel="stylesheet" href="~/scripts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/scripts/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/scripts/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="~/scripts/easyui/themes/icon.css">
    <link rel="stylesheet" href="~/scripts/ace/css/aceui.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/content/back.min.css" asp-append-version="true" /></environment>
</head>
<body>
<div class="ct-wrap" style="@showBack">
    <div class="ct-title" style="@showDisplay">
        <h5>@Html.Raw(ViewData["Title"])</h5>
        @RenderSection("toolbar", false)
    </div>
    <div class="ct-layout oy" style="@showHeight">
        @RenderBody()
    </div>
</div><environment include="Development">
<script src="~/scripts/jquery/dist/jquery.js"></script>
<script src="~/scripts/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/scripts/plupload/js/plupload.full.min.js"></script>
<script src="~/scripts/easyui/jquery.easyui.min.js"></script>
<script src="~/scripts/easyui/locale/easyui-lang-zh_cn.js"></script>
<script src="~/scripts/signalr/dist/browser/signalr.js"></script>
<script src="~/scripts/ace/aceui-easyuiex.js"></script>
<script src="~/scripts/ace/aceui.js"></script>
<script src="~/scripts/ace/aceui-upload.js"></script>
<script src="~/scripts/ace/ace.js"></script></environment><environment exclude="Development">
<script src="~/scripts/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/scripts/plupload/js/plupload.full.min.js"></script>
<script src="~/scripts/easyui/jquery.easyui.min.js"></script>
<script src="~/scripts/easyui/locale/easyui-lang-zh_cn.js"></script>
<script src="~/scripts/signalr/dist/browser/signalr.min.js"></script>
<script src="~/scripts/ace/js/ace.min.js" asp-append-version="true"></script></environment>
@Model.Ace.RenderInitScripts(true)@RenderSection("startup", false)<script>$(function () { AX.initBk() })</script>
</body>
</html>