@model Acesoft.Web.UI.RazorPages.WebPage
@inject IConfigService ConfigService
@inject IObjectService ObjectService
@{
    var cfg = ConfigService.GetConfig(1);
    var modules = ObjectService.Gets(Model.Ace.AC.Roles, ObjectType.Module, Model.Ace.AC.User.LoginName);
    var menus = new List<Rbac_Object>();
    var layout = App.GetCookie("aceplat.layout", "full");
    var loginName = Model.Ace.AC.User.LoginName;
    if (loginName.HasValue())
    {
        loginName = $"({loginName})";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@Html.Raw(ViewData["Title"])</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/scripts/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/scripts/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/scripts/easyui/themes/default/easyui.css">
        <link rel="stylesheet" href="~/scripts/easyui/themes/icon.css">
        <link rel="stylesheet" href="~/scripts/ace/css/aceui.css">
        <link rel="stylesheet" href="~/content/site.css" />
        <link rel="stylesheet" href="~/content/back.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/scripts/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/scripts/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/scripts/easyui/themes/default/easyui.css">
        <link rel="stylesheet" href="~/scripts/easyui/themes/icon.css">
        <link rel="stylesheet" href="~/scripts/ace/css/aceui.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/content/back.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="overflow:hidden">
    <div class="ax-header">
        <div class="ax-topbar">
            <div class="topbar-wrap">
                <div class="topbar-head fl">
                    <a class="topbar-logo fl" style="@cfg["sys_plat_style"]" href="@App.GetWebRoot()">
                        <img src="@cfg["sys_plat_logo"]" height="40" />
                        <span class="fwb">@cfg["sys_short"]</span>
                    </a>
                </div>
                <div class="topbar-nav fl dropdown">
                    <a href="/plat/index" class="topbar-btn topbar-nav-btn dropdown-toggle">
                        <span>云平台首页</span>
                    </a>
                    @*<a class="topbar-btn topbar-nav-btn dropdown-toggle">
                        <span>产品与服务</span>
                        <span class="fa fa-caret-down"></span>
                    </a>*@
                </div>
                <div class="topbar-info fr">
                    <div class="fl dropdown">
                        <a href="#" class="topbar-btn" data-toggle="dropdown">
                            <span>@Model.AppCtx.AC.User.NickName @loginName</span>
                            <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="topbar-info-btn"><a href="javascript:AX.go('plat/user|safe/pwd')"><span>修改密码</span></a></li>
                            <li class="topbar-info-btn"><a href="javascript:AX.logout()"><span>注销</span></a></li>
                        </ul>
                    </div>
                    @*<div class="fl dropdown topbar-notice">
                        <a href="#" class="topbar-btn" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span>站内消息</span>
                            <span class="notice-num">3</span>
                        </a>
                        <div class="topbar-notice-panel">
                            <div class="topbar-notice-arrow">
                                <span class="fa fa-caret-up"></span>
                            </div>
                            <div class="topbar-notice-head">
                                <span class="ng-binding">站内消息通知</span>
                            </div>
                            <div class="topbar-notice-body">
                                <p class="topbar-notice-empty">您暂时没有公告消息</p>
                            </div>
                            <div class="topbar-notice-foot">
                                <a class="topbar-notice-more" target="_blank" href="#">查看更多</a>
                            </div>
                        </div>
                    </div>*@
                    <div class="fl dropdown">
                        <a href="#" class="topbar-btn" data-toggle="dropdown">
                            <span>帮助与文档</span>
                            <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="topbar-info-btn"><a href="/.well-known/openid-configuration" target="_blank"><span>OAuth2</span></a></li>
                            <li class="topbar-info-btn"><a href="/swagger" target="_blank"><span>OpenAPI</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ax-body ax-sidebar-@(layout)">
        <div class="ax-sidebar">
            <div class="sidebar-content">
                <div class="sidebar-inner">
                    <div class="sidebar-fold fa fa-reorder" title="点击展开/收起左侧导航栏"></div>
                    @foreach (var obj in modules.Where(o => !o.ParentId.HasValue).OrderBy(o => o.OrderNo))
                    {
                        <div class="sidebar-nav">
                            <div class="sidebar-title aceui-tooltip" tooltip="@Html.Raw(obj.Name)">
                                <div class="sidebar-title-inner">
                                    <span class="sidebar-title-icon fa fa-caret-down"></span>
                                    <span class="sidebar-title-text">@Html.Raw(obj.Name)</span>
                                </div>
                            </div>
                            <ul class="sidebar-trans">
                            @foreach (var item in modules.Where(o => o.ParentId == obj.Id).OrderBy(o => o.OrderNo))
                            {
                                @*@if (Ace.Object != null && Ace.Object.Id == item.Id){ @("active") }*@
                                menus.Add(item);
                                <li class="nav-item">
                                    <a class="sidebar-trans" data-url="@item.Url">
                                        <div class="nav-icon sidebar-trans aceui-tooltip" tooltip="@Html.Raw(item.Name)">
                                            <span class="@(item.Icon ?? "fa fa-file")"></span>
                                        </div>
                                        <span class="nav-title">@Html.Raw(item.Name)</span>
                                    </a>
                                </li>
                            }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="ax-content mini">
            <div class="ct-navbar">
                <div class="ct-navbar-title"></div>
                <div class="ct-navbar-list">
                @foreach (var mod in menus)
                {
                    <ul>
                        @foreach (var item in modules.Where(o => o.ParentId == mod.Id).OrderBy(o => o.OrderNo))
                        {
                            <li class="nav-item" data-url="/@item.Url">
                                <div class="nav-icon"></div>
                                <div class="nav-title">@Html.Raw(item.Name)</div>
                            </li>
                        }
                    </ul>
                }
                </div>
            </div>
            <div class="ct-split">
                <div class="ct-split-wrap">
                    <div class="ct-split-bg"></div>
                    <div class="ct-split-collapse">
                        <span class="fa fa-chevron-left"></span>
                        <span class="fa fa-chevron-right"></span>
                    </div>
                </div>
            </div>
            <div class="ct-wrap">
                @RenderBody()
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/scripts/jquery/dist/jquery.js"></script>
        <script src="~/scripts/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/scripts/plupload/js/plupload.full.min.js"></script>
        <script src="~/scripts/easyui/jquery.easyui.min.js"></script>
        <script src="~/scripts/easyui/locale/easyui-lang-zh_cn.js"></script>
        <script src="~/scripts/signalr/dist/browser/signalr.js"></script>
        <script src="~/scripts/ace/aceui-easyuiex.js"></script>
        <script src="~/scripts/ace/aceui.js"></script>
        <script src="~/scripts/ace/aceui-upload.js"></script>
        <script src="~/scripts/ace/ace.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/scripts/jquery/dist/jquery.min.js"></script>
        <script src="~/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/scripts/plupload/js/plupload.full.min.js"></script>
        <script src="~/scripts/easyui/jquery.easyui.min.js"></script>
        <script src="~/scripts/easyui/locale/easyui-lang-zh_cn.js"></script>
        <script src="~/scripts/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/scripts/ace/js/ace.min.js" asp-append-version="true"></script>
    </environment>
    @Model.Ace.RenderInitScripts(true)
    @RenderSection("startup", false)
    <script>$(function () { if ('@layout' == 'mini') $('.aceui-tooltip').acetip(); })</script>
</body>
</html>