@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    Layout = "_shared/edit";
    ViewData["Title"] = "编辑";

    Ace.View().Id("tree").Ajax(ds => ds.DataSource("sys.table").Form(new
    {
        schema_id = App.GetQuery("parentid", ""),
        table = "",
        name = "",
        remark = "",
        created = 0,
        system = 0,
        orderno = 10
    }).HttpSave()).Content(
        @<div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 表名：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("table").Width("100%").Required().ValidType("length[4,20]")</div>
                <div class="col-xs-4"><div class="text-warning">长度4-20的字母或下划线！</div></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 名称：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("name").Width("100%").Required()</div>
                <div class="col-xs-4"><div class="text-warning">中文表名</div></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r">备注：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("remark").Width("100%")</div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r">设置：</div>
                <div class="col-xs-6">@Ace.CheckBox().Name("system").Text("系统")</div>
                <div class="col-xs-4"><div class="text-warning">系统属性不能删除！</div></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 排序号：</div>
                <div class="col-xs-6">@Ace.NumberSpinner().Name("orderno").Increment(10).Width("100%").Required()</div>
                <div class="col-xs-4"><div class="text-warning">设置时建议按10，20递增！</div></div>
            </div>
        </div>
    ).Render();
}