@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    Layout = "_shared/edit";
    ViewData["Title"] = "编辑";

    Ace.View().Id("view").Ajax(ds => ds.DataSource("sys.dict").Form(new
    {
        dict = "",
        name = "",
        type = App.GetQuery("parentid", "9"),
        remark = "",
        system = 0
    }).HttpSave()).Content(
        @<div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 类编码：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("dict").Width("100%").Required()</div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 类名称：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("name").Width("100%").Required()</div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r">备注：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("remark").Width("100%")</div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r">设置：</div>
                <div class="col-xs-6">@Ace.CheckBox().Name("system").Text("系统")</div>
                <div class="col-xs-4"><div class="text-warning">系统属性不能删除！</div></div>
            </div>
            @Html.AntiForgeryToken()
        </div>
    ).Render();
}