@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    Layout = "_shared/back";
    ViewData["Title"] = "编辑";

    var isEdit = false;
    Ace.View().Id("view").Ajax(ds => ds.DataSource("iot.device").Form(new {
        product_id = App.GetQuery("productid", ""),
        sbno = "",
        rkrq = DateTime.Now.ToString("yyyy-MM-dd"),
        sbzt = "0",
        remark = ""
    }).HttpSave()).Do(x => isEdit = x.Component.DataSource.IsEdit).Content(
        @<div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 设备编号：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("sbno").Width("100%").Required().ValidType("length[16,16]")</div>
                <div class="col-xs-4"><span class="text-warning">16位字符和数字</span></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 入库日期：</div>
                <div class="col-xs-6">@Ace.DateBox().Name("rkrq").Width("100%").Required()</div>
                <div class="col-xs-4"><span class="text-warning"></span></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 设备状态：</div>
                <div class="col-xs-6">@Ace.ComboBox().Name("sbzt").Ajax(ds => ds.Dict("SBZT").HttpGet()).Width("100%").Required()</div>
                <div class="col-xs-4"><span class="text-warning"></span></div>
            </div>             
            <div class="row">
                <div class="col-xs-2 text-r">备注：</div>
                <div class="col-xs-6">@Ace.TextArea().Name("remark").Width("100%").Height(100)</div>
                <div class="col-xs-4"></div>
            </div>
            @Html.AntiForgeryToken()
        </div>
    ).Render();
}
@section startup {
    <script>
        $(function () {
            if (!@isEdit.ToString().ToLower()) {
                $('#sbno').textbox('setValue', AX.query('cpno'));
            }
            $('#sbno').textbox('textbox').keyup(function () {
                $('#sbno').textbox('setValue', this.value.replace(/[^\w]/g, '').toUpperCase());
            });
        });
    </script>
}