@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "新风主机";
    Layout = "_shared/wechat";

    // 初始化WechatJsApi
    Ace.WechatInitJsApi((api) =>
    {
        api.Add("hideOptionMenu");
    }, true);

    var sbno = App.GetQuery<string>("sbno");
    var param = new { sbno = sbno };
    var ctx = new RequestContext("iot", "iot_get_auths", param, OpType.gets);
    var auths = DbContext.Current.Query(ctx);
}
<style>
    .item {font-size:.8em;line-height:1.5em}
    .item .fa{font-size:2.5em;width:40px}
    .item a.fa{font-size:2em;color:#808080}
</style>
<div class="page">
    <div class="hd">
        <a class="btn fl fa fa-chevron-left" href="javascript:history.back()"></a>
        <div class="title">权限管理</div>
        <a class="btn fr fa fa-exchange ml15" href="javascript:onChange()"></a>
        <a class="btn fr fa fa-user-plus" href="javascript:onAdd()"></a>
        <div class="clear"></div>
    </div>
    <div class="bd">
        <div class="weui-cells">
            @foreach (var auth in auths)
            {
                <div class="weui-cell item">
                    <div class="weui-cell__bd">
                        <div class="fl fa fa-user cr-green"></div>
                        <div class="fl">
                            <div>@auth.alias</div>
                            <div>@auth.mobile</div>
                        </div>
                    </div>
                    <div class="weui-cell__ft">
                        <a class="fa fa-edit mr5" href="javascript:onEdit('@auth.id','@auth.alias')"></a>
                        <a class="fa fa-user-times" href="javascript:onDel('@auth.id')"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section startup {
<script>
    function onDel(id) {
        $.confirm({
            title: '确认删除',
            text: '删除后将不再拥有此设备的使用权！',
            onOK: function () {
                AX.ajax({
                    url: AX.api({ api: 'iot/delauth', q: 'id=' + id }),
                    type: 'delete',
                    cb: function () {
                        AX.wxOk('删除成功！');
                        AX.refresh();
                    }
                });
            }
        });
    }
    function onEdit(id, name) {
        $.prompt({
            title: '编辑使用者',
            text: '请输入使用者名称',
            input: name,
            empty: false,
            onOK: function (val) {
                if (val.length <= 10) {
                    AX.ajax({
                        url: AX.api({ api: 'iot/putauth' }),
                        data: { id: id, alias: val },
                        type: 'put',
                        cb: function () {
                            AX.wxOk();
                            AX.refresh();
                        }
                    });
                }
                else {
                    AX.wxWarn('名称不能多于10个字符！');
                }
            }
        });
    }
    function onChange() {
        $.prompt({
            title: '转移所有权',
            text: '此操作不可逆，确认后您将失去该设备的所有权，接收方将接管此设备！',
            input: '接收人手机号',
            empty: false,
            onOK: function (val) {
                if (val.length != 11) {
                    AX.ajax({
                        url: AX.api({ api: 'iot/putdevice' }),
                        data: { sbno: '@sbno', mobile: val },
                        type: 'put',
                        cb: function () {
                            AX.wxOk();
                            AX.refresh();
                        }
                    });
                }
                else {
                    AX.wxWarn('请输入正确的手机号！');
                }
            }
        });
    }
    function onAdd() {
        $.login({
            title: '添加使用者',
            username: '手机号',
            password: '使用人',
            empty: false,
            onOK: function (mobile, alias) {
                if (mobile.length == 11 && alias != '') {
                    AX.ajax({
                        url: AX.api({ api: 'iot/postauth' }),
                        data: { sbno: '@sbno', mobile: mobile, alias: alias },
                        type: 'post',
                        cb: function () {
                            AX.wxOk();
                            AX.refresh();
                        }
                    });
                }
                else {
                    AX.wxWarn('请输入正确的手机号和使用人！');
                }
            }
        });
        $('#weui-prompt-username').attr('placeholder', '输入手机号');
        $('#weui-prompt-password').attr('type', 'text').attr('placeholder', '输入使用人');
    }
    $(function () {
        wx.ready(function () {
            wx.hideOptionMenu()
        })
    })
</script>
}