@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "新风主机";
    Layout = "_shared/wechat";

    // 初始化WechatJsApi
    Ace.WechatInitJsApi((api) =>
    {
        api.Add("hideOptionMenu");
    }, true);

    var sbno = App.GetQuery("sbno", "");
    var data = await IotContext.GetIotData(sbno, true);
    var offline = data.Online ? "" : "weui-popup__container--visible";
    var offpower = data.Online && data.Values["on"] != null && !(bool)data.Values["on"] ? "weui-popup__container--visible" : "";
    var netMin = data.NetMin;
    var netDay = 180 - netMin / (24 * 60);
    var alert = netDay >= 0 ? $"剩余{netDay}天" : $"超过{-netDay}天";
}
<style>
    .weather{font-size:.6em} .weather span{font-size:1.3em}
    .num span{font-size:2.4em;line-height:1.2em}
    .wind{background:#254f89;line-height:50px} .wind span{font-size:2em}
    .wbtn{display:inline-block;width:80px;height:41px;background-size:contain;background-repeat:no-repeat;cursor:pointer}
    .wbtn.up{background-image:url(/wechat/setupact.png)}.wbtn.up.dis{background-image:url(/wechat/setupdis.png)}.wbtn.up.cur{background-image:url(/wechat/setupnml.png)}
    .wbtn.down{background-image:url(/wechat/setdownact.png)}.wbtn.down.dis{background-image:url(/wechat/setdowndis.png)}.wbtn.down.cur{background-image:url(/wechat/setdownnml.png)}
    .mode{display:inline-block;width:60px;height:61px;background-size:contain;background-repeat:no-repeat;cursor:pointer}
    .auto,.auto:hover{background-image:url(/wechat/autouno.png)}.auto.cur{background-image:url(/wechat/autounol.png)}
    .mhand,.mhand:hover{background-image:url(/wechat/handuno.png)}.mhand.cur{background-image:url(/wechat/handunol.png)}
    .sleep,.sleep:hover{background-image:url(/wechat/sleepuno.png)}.sleep.cur{background-image:url(/wechat/sleepunol.png)}
    .clean,.clean:hover{background-image:url(/wechat/cleanuno.png)}.clean.cur{background-image:url(/wechat/cleanunol.png)}
    .mclean,.mclean:hover{background-image:url(/wechat/midumcleanuno.png)}.mclean.cur{background-image:url(/wechat/midumcleanunol.png)}
    .sclean,.sclean:hover{background-image:url(/wechat/strongcleanuno.png)}.sclean.cur{background-image:url(/wechat/strongcleanunol.png)}
</style>
<div class="page" style="background:url(/wechat/primarybg.png)">
    <div class="hd">
        <a class="btn fl fa fa-chevron-left" href="javascript:history.back()"></a>
        <div class="title"><a href="javascript:setAlias()" id="alias" class="white">@data.Alias</a></div>
        <a class="btn fr fa fa-cog" href="~/wechat/iot/device/option?sbno=@sbno"></a>
        <a class="btn fr fa fa-line-chart mr15" href="~/wechat/iot/device/stat?sbno=@sbno"></a>
        <div class="clear"></div>
    </div>
    <div class="bd ph15 cr-white">
        <div class="weather pt10 pb15">
            @if (data.NetAlert && netDay <= 3)
            {
                <div class="fl hand" style="padding-top:3px;" onclick="closeAlert(this)">
                    <img style="height:22px;vertical-align:bottom" src="/wechat/attention.png" title="点击关闭提醒，关闭后重新计时" />
                    <span id="span_alert">滤网更换：@alert</span>
                </div>
            }
            <div class="fr">
                <span>
                    @data.Location.City@data.Location.District
                    <img class="pl5" src="@data.Weather?.condition.url" style="height:25px;vertical-align:bottom" />
                    <span id="temp_out" class="pl5">@data.Weather?.condition.temp</span>℃
                    <span id="pm25_out" class="pl5">@data.Weather?.aqi.pm25</span>ug/m³
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="mt15" style="background:url(/wechat/house.png) no-repeat;background-size:contain;width:300px;height:240px;margin:0 auto">
            <div class="pa" style="top:60px;right:60px;">
                <img class="w30 hand" src="~/wechat/homeshut.png" onclick="setPower(0)" />
            </div>
            <div class="pt40" style="margin:0 auto;width:210px">
                <div style="padding-left:55px">PM2.5</div>
                <div class="num text-c"><span id="pm25" style="font-size:3.5em">@data.Values["pm25"]</span>ug/m³</div>
            </div>
            <div class="pt15" style="margin:0 auto;width:210px">
                <div class="fl w100">
                    <div class="text-c"><img class="h40" src="/wechat/temp.png" /></div>
                    <div class="num text-c"><span id="temp">@data.Values["temp"]</span>℃</div>
                </div>
                <div class="fr w100">
                    <div class="text-c"><img class="h40" src="/wechat/humi.png" /></div>
                    <div class="num text-c"><span id="humi">@data.Values["hum"]</span>%</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div style="position:relative;margin:20px 0 0">
            <div style="position:absolute;top:0;left:0;right:85px">
                <div class="fl" style="width:49.5%">
                    <div class="text-c lh30" style="background:#113e8f">实时风速</div>
                    <div class="text-c wind"><span id="wind">@data.Values["speed"]</span> x</div>
                </div>
                <div class="fr" style="width:49.5%">
                    <div class="text-c lh30" style="background:#113e8f">设定风速</div>
                    <div class="text-c wind"><span id="wset">@data.Values["speed"]</span> x</div>
                </div>
            </div>
            <div class="fr w80">
                <div><a class="wbtn up" href="javascript:setSpeed(1)"></a></div>
                <div><a class="wbtn down" href="javascript:setSpeed(-1)"></a></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="pt20">
            <div class="weui-flex">
                <div class="weui-flex__item text-c"><a class="mode auto" href="javascript:setMode(0)"></a></div>
                <div class="weui-flex__item text-c"><a class="mode mhand" href="javascript:setMode(1)"></a></div>
                <div class="weui-flex__item text-c"><a class="mode sleep" href="javascript:setMode(2)"></a></div>
            </div>
            <div class="weui-flex pt5">
                <div class="weui-flex__item text-c"><a class="mode clean" href="javascript:setMode(3)"></a></div>
                <div class="weui-flex__item text-c"><a class="mode mclean" href="javascript:setMode(4)"></a></div>
                <div class="weui-flex__item text-c"><a class="mode sclean" href="javascript:setMode(5)"></a></div>
            </div>
        </div>
    </div>
</div>
<div id="offline" class="weui-popup__container header @offline">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal" style="background:transparent">
        <div class="ft25 cr-white text-c" style="padding-top:200px">设备已离线，点此返回</div>
        <div class="pt50 text-c">
            <img class="hand w100" src="~/wechat/back.png" onclick="history.back()" />
        </div>
    </div>
</div>
<div id="offpower" class="weui-popup__container header @offpower">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal" style="background:transparent">
        <div class="ft25 cr-white text-c" style="padding-top:200px">设备已关机，点此开机</div>
        <div class="pt50 text-c">
            <img class="hand w100" src="~/wechat/off.png" onclick="setPower(1)" />
        </div>
    </div>
</div>
@section startup {
<script>
    var timer, spanAlert = document.getElementById("span_alert");
    var isConnected = false, isSended = false, mode = 0;
    var conn = new signalR.HubConnectionBuilder().withUrl('/hubs/iotdata').build();
    conn.on('Send', d => {
        $('.mode').removeClass('cur');

        if (d.online && !isSended) {
            isSended = true;
            setUpRealTime(1, function () {
                //AX.wxOk('已开启实时传输模式！');
            });
        }

        mode = d.values.mode;
        if (mode != null) {
            $('.mode').removeClass('cur').eq(d.values.mode).addClass('cur');
        }
        mode == 1 ? $('.wbtn').removeClass('dis') : $('.wbtn').addClass('dis');
        if (!d.online && !$('#offline').hasClass('weui-popup__container--visible')) {
            $("#offline").removeAttr("style").popup();
        }
        else if (d.online && !d.values.on && !$('#offpower').hasClass('weui-popup__container--visible')) {
            $("#offpower").removeAttr("style").popup();
        }
        else if (d.online && d.values.on) {
            $.closePopup();
        }
        $('.header').removeAttr("style");

        $('#alias').html(d.alias);
        if (d.weather != null) {
            $('#temp_out').html(d.weather.condition.temp);
            $('#pm25_out').html(d.weather.aqi.pm25);
        }
        if (d.values.pm25 != null) $('#pm25').html(d.values.pm25);
        if (d.values.temp != null) $('#temp').html(d.values.temp);
        if (d.values.hum != null) $('#humi').html(d.values.hum);
        if (d.values.speed != null) {
            $('#wind').html(d.values.speed);
            $('#wset').html(d.values.speed);
        }
    });
    conn.start().then(() => {
        isConnected = true;
        invoke(conn, 'Join', '@sbno');
    });
    window.onunload = function () {
        setUpRealTime(0, function () {
            //AX.wxOk('已关闭实时传输模式！');
        });
    };

    function invoke(c, method, ...args) {
        if (!isConnected) return;
        var argsArray = Array.prototype.slice.call(arguments);
        c.invoke.apply(c, argsArray.slice(1));
    }
    function cmd(cmd, data, cb, type) {
        AX.ajax({
            url: AX.api({ api: 'iot/' + cmd }),
            data: $.extend({ sbno: '@sbno' }, data),
            type: type || 'get',
            cb: cb || function () { AX.wxOk() },
            async: !(cmd == 'SetUpRealTime' && !data.flag)
        });
    }
    function setAlias() {
        $.prompt({
            title: '设备别名',
            text: '设备别名不能超过10个字符',
            input: $('#alias').text(),
            empty: false,
            onOK: function (val) {
                if (val.length <= 10) {
                    cmd('putdevice', { alias: val }, function () {
                        AX.wxOk();
                        $('#alias').html(val);
                    }, 'put');
                }
                else {
                    AX.wxWarn('设备别名不能多于10个字符！');
                }
            }
        });
    }
    function setUpRealTime(f, cb) {
        cmd('SetUpRealTime', { flag: f }, cb);
    }
    function setPower(f) {
        if (!f) {
            $.confirm({
                title: '确认关机',
                onOK: function () {
                    cmd('SetPower', { flag: f });
                }
            });
        }
        else {
            cmd('SetPower', { flag: f }, function () {
                $.closePopup();
                AX.wxOk();
            });
        }
    }
    function setSpeed(offset) {
        if (mode != 1) return;
        $('.wbtn').removeClass('cur');
        offset > 0 ? $('.wbtn.up').addClass('cur') : $('.wbtn.down').addClass('cur');
        var val = parseInt($('#wset').text());
        if ((val > 1 && offset < 0) || (offset > 0 && val < 8)) {
            val += offset;
            $('#wset').text(val);
            cmd('SetSpeed', { speed: val }, function () {
                $('#wind').html(val);
                AX.wxOk();
            });
        }
    }
    function setMode(val) {
        $('.wbtn').removeClass('cur');
        val == 1 ? $('.wbtn').removeClass('dis') : $('.wbtn').addClass('dis');
        $('.mode').removeClass('cur');
        cmd('SetMode', { mode: val }, function () {
            mode = val;
            AX.wxOk();
            $('.mode').eq(val).addClass('cur');
        });
    }
    function closeAlert(ele) {
        $.confirm({
            title: '确认进行滤网复位操作？',
            text: '高级滤网更换周期为180天，在收提醒时应及时更换，滤网更换后请进行复位，复位后将重新从0开始累计计时。',
            onOK: function () {
                cmd('putdevice', { netmin: 0 }, function () {
                    AX.wxOk();
                    if (timer) clearInterval(timer);
                    $(ele).hide('slow');
                }, 'put');
            }
        });
    }
    function changeColor() {
        $(spanAlert).toggleClass('cr-orange');
    }
    $(function () {
        wx.ready(function () {
            wx.hideOptionMenu()
        });
        if (@netDay <= 3) {
            timer = setInterval(changeColor, 500);
        }
    })
</script>
}