@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "新风主机";
    Layout = "_shared/wechat";

    // 初始化WechatJsApi
    Ace.WechatInitJsApi((api) =>
    {
        api.Add("hideOptionMenu");
    }, true);

    var rndStr = StringEx.GetRndStr(8);
    var modes = new string[] { "自动模式", "手动模式", "睡眠模式", "净化模式", "强净模式", "超净模式" };
    var res = await IotContext.GetDevices();
}
<style>.weui-cells { margin-top:15px }</style>
<div class="weui-tab">
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="page">
                <div class="hd">
                    <div class="title">设备</div>
                    <a class="btn fr fa fa-plus" href="javascript:;" onclick="onAdd()"></a>
                    <div class="clear"></div>
                </div>
                <div class="bd">
                @foreach (var item in res)
                {
                    var on = item.online && item.values["on"] != null && item.values["on"];
                    var onCls = on ? "" : "off";
                    var owner = item.owner ? 1 : 0;
                    <div class="weui-cells">
                        <div class="weui-cell weui-cell_swiped">
                            <div class="weui-cell__bd">
                                <a class="weui-cell weui-cell_access @(onCls)" href="/wechat/iot/device/d_@(item.cpno)?sbno=@(item.sbno)&t=@(rndStr)">
                                    <div class="weui-cell__bd">
                                        <div>
                                            <div class="fl">
                                                <span class="iot-title">@(item.alias)</span>@if (on) { <span style="color:#04b907;font-size:.8em">(在线)</span> }
                                            </div>                                    
                                            @if (on)
                                            {
                                                <div class="fr iot-item lh25" style="width:33.33%">
                                                    <img style="height:25px;vertical-align:middle" src="~/wechat/mode@(item.values["mode"]).png" />
                                                    <div style="display:inline-block;height:25px">@modes[item.values["mode"]]</div>
                                                </div>
                                            }
                                            <div class="clear"></div>
                                        </div>
                                        @if (on)
                                        {
                                            <div class="weui-flex pt5">
                                                <div class="weui-flex__item iot-item">温度 @item.values["temp"] ℃</div>
                                                <div class="weui-flex__item iot-item">湿度 @item.values["hum"] %</div>
                                                <div class="weui-flex__item iot-item">PM2.5 @item.values["pm25"] ug/m³</div>
                                            </div>
                                        }
                                        else if (item.online)
                                        {
                                            <div class="iot-item pt5" style="color:#ff6a00">设备已关机</div>
                                        }
                                        else
                                        {
                                            <div class="iot-item pt5" style="color:#ff0000">设备已离线</div>
                                        }
                                    </div>
                                    <div class="weui-cell__ft">@if (!on) { @("OFF") }</div>
                                </a>
                            </div>
                            <div class="weui-cell__ft">
                                <a class="weui-swiped-btn weui-swiped-btn_warn delete-swipeout" style="line-height:2.9em" href="javascript:onUnbind('@(item.sbno)', @owner)">删除</a>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            @Html.Partial("_views/user", Ace.AC)
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon fa fa-calculator"></div>
            <p class="weui-tabbar__label">设备</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon fa fa-user"></div>
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>
@section startup {
<script>
    function onUnbind(sbno, flag) {
        var tip = flag ? '，此设备下的所有使用者也将被清除' : ''; 
        $.confirm({
            title: '确认解除绑定？',
            text: '解除绑定后您将不再拥有此设备的使用权' + tip + '！',
            onOK: function () {
                AX.ajax({
                    url: AX.api({ api: 'iot/deldevice', q: 'sbno=' + sbno }),
                    type: 'delete',
                    cb: function () {
                        AX.wxOk('添加成功！');
                        AX.refresh();
                    }
                });
            },
            onCancel: function () {
                $('.weui-cell_swiped').swipeout('close');
            }
        });
    }
    function onAdd() {
        AX.go('/wechat/iot/device/scan')
    }
    $(function () {
        wx.ready(function () {
            wx.hideOptionMenu()
        })
        wx.error(function (res) {
        })
    })
</script>
}